@using Moon.Localization
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Moon.AspNet.Localization</title>
    <script src="js/resources.js"></script>
</head>
<body>
    <button onclick="alert(Resources.get('Alerts:Text'))">@Resources.Get("Click")</button>
</body>
</html>